/* https://ionicframework.com/docs/theming/css-variables */

:root {
    /* set SpringType color */
    --ion-color-primary: #1a6da9;
    --ion-color-primary-shade: #1d679c;
    --ion-color-primary-tint: #1f83ca;

    /* Set the background of the entire app */
    --ion-background-color: #fff;

    /* Set the font family of the entire app */
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Roboto", sans-serif;
  }

  ion-button {
    --color: #fff;
  }